.nav-bar{
    padding: 1rem 8rem;
}
.logo-nav{
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4;
}
.profile-nav{
    display: flex;
    justify-content: space-evenly;
}
.profile-sect{
    padding: 0 1rem;
}
.profile-sect > h5{
    margin-bottom: 0 ;
}
.profile-sect > p{
    margin-bottom: 0 ;
}
.profile-nav > img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.blue{
    background-color: #6379F4; 
    color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border: 2px solid white;  
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 0 1em;
}
.white{
    background-color: #FFFFFF;
    color: #6379F4;    
    border-radius: 12px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border: 2px solid #6379F4;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 0 1em;
}
.pro-bell > img{
    width: 30px;
    height: 40px;
    object-fit: contain;
}