.cont-fluid{
    background-color: #FAFCFF;
    height: 90vh;
    padding: 3em 0;
}
.cont-home{
    height: 100%;
}
.cont-row-home{
    height: 100%;
}
.cont-row-graph{
    height: 65%;

}
.column-topup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    
}

.topup-card-title > h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}
.topup-card-content{
    height: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    align-items: center;
    padding: 0 2rem;
}
.topup-card-content > h4{
    font-weight: normal;
    font-size: 16px;
    line-height: 50px; 
    color: #7A7886;
}
.blue{
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    color: #6379F4;
    margin-right: .5rem;
}

.btn-resp{
    display: none;
}
.btn-resp-home{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: black;
    background-color: #E5E8ED;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 120px;
    height: 45px;
    margin-bottom: 20px ;
}
@media (max-width: 1199.98px) {
    .cont-fluid{
        height: 65vh;
    }
}
@media (max-width: 991.98px) {
    .cont-fluid{
        height: 65vh;
    }
    .col-3-resp{
        display: none;
    }
    .col-7-resp{
        display: none;
    }
}
@media (max-width: 575.98px) {
    .cont-home{
        padding-right: 0;
        padding-left: 0;
    }
    
    .cont-fluid{
        height: 90vh;
        padding-top: 0;
    }
    .cont-row-home{
        margin: 0;
        display: block;
    }
    .col-9-resp {
        max-width: 100%;
    }
    .cont-row-graph{
        display: block;
    }
    .col-5-resp{
        max-width: 100%;
    }
    .btn-resp{
        display: flex ;
        justify-content: space-evenly;
    }
    .column-topup{
        margin: 0;
        max-width: 100%;
    }
    .topup-card-content{
        padding: .5rem 1rem;
        margin: 1em 0;
        height: 6em;
    }
    .topup-card-content > h4{
        line-height: 26px;
        vertical-align: middle;
    }
 }