.jumbo-tron{
    background-image: url("/mask Group2.png");
    height: 130vh;
    background-color: #6d81f5;
}
.cont-jumbo{
    padding: 0 10em;
}
.cont-jumbo > img{
    width: 30rem;
    height: 33rem;
    object-fit: contain;
}
.cont-jumbo > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: white;
}
.heading-white{
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    color: white;
}
.heading-black{
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    color: #3A3D42;
}

.forg-pass{
    align-self: flex-end;
    
}
.create-acc{
    text-align: center;
}
.cont-side-right{
    padding: 7em 2em;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.activate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.activate > button{
        background-color: #6379F4; 
        color: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
        border: 2px solid white;  
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        padding: 10px 30px;
        margin: 0 1em;
    
}
.col-5-resp > h2{
    display: none;
    font-weight: bold;
    font-size: 34px;
    line-height: 35px;
    color: #6379F4;
    text-align: center;
}

.cont-token {
    width: 20em;
}
.page-token {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199.98px) {
    .cont-jumbo{
        padding: 0 4em;
    }
    .cont-side-right, .jumbo-tron{
        height: 80vh;
    }
    
}

@media (max-width: 575.98px) { 
    .row-resp{
        display: block;
    }
    .col-left{
        display: none;
    }
   
    .col-5-resp{
        max-width: 100%;
    }
    .cont-side-right{
        padding: 2em 2em;
        height: 100vh;
        background-color: white;
    }
    .col-5-resp > h2{
        margin-top: 1.5em;
        display: block;
    }

 }
