
.cont-fluid{
    background-color: #FAFCFF;
    min-height: 80vh;
    padding: 3em 0;
}
.cont-home{
    height: 100%;
}
.cont-row-home{
    height: 100%;
}
.cont-row-graph{
    height: 65%;
}
.form{
    width: 100%;
}
.trans-history-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.trans-history-title > h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}
.trans-history{
    display: flex;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
}
.trans-history:hover{
    cursor: pointer;
    border: 2px solid #6379F4;
}
.item1{
    flex-basis: 5em;
    padding: .5rem;
}
.item1 > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}
.item2 {
    padding: .5rem;
}
.item2 > h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #4D4B57;
}
.item2 > p{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}
.main-col > h5{
    margin-bottom: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}
.input-group{
    display: flex;
    background: rgba(58, 61, 66, 0.1) ;
    border-radius: 12px ;
    width: 100%;
    height: 50px;

}

.input-span > img{
    width: 30px;
    margin: .5rem .5rem;
}
.input-group > input[type=text]{
    width: 100%;
    border: none;
    background: none;
    border-radius: 12px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.col-conf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 1rem;
   
}
.trans-confirm-title > h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}
.trans-confirm-card > img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    margin-right: 20px;
    
}
.trans-user-conf > h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #4D4B57;
}
.trans-user-conf > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
}
.trans-confirm-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: .5rem 1rem;
    margin: .5rem 0;
}
.trans-confirm-card > p{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
    margin: auto;
}
.trans-confirm-card > h3{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #514F5B;
    margin: auto;
}
.trans-conf-btn{
    align-self: flex-end;
    width: 120px;
    margin-right: 100px;
}
.conf-profile {
    display: flex;
}
.inpt {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;
    min-height: 40vh;
}
.inpt > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #7A7886;
}
.inpt-sect{
    margin: auto;
}
.inpt-sect > h3{
    margin: 1rem 3rem;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #3A3D42;    
}
.inpt-sect > input[type=number]{
    width: 80%;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #6379F4;
    border-radius: 5px;
    font-size: 2rem;
}
.inpt-sect input::-webkit-inner-spin-button, .inpt-sect input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  .inpt-sect input:focus, .inpt-sect input.focus {
    border-color: #6379F4;
    outline: none;
    box-shadow: none;
  }
.inpt > button {
    background-color: #6379F4; 
    color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border: 2px solid white;  
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 0 1em;
    width: 140px;
    margin-left: auto;
}
.change-pass {
    padding: 0 10rem;
}
.passcode-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 6em auto;
    
  }
  .passcode-wrapper input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .passcode-wrapper input:last-child {
    margin-right: 0;
  }
  .passcode-wrapper input::-webkit-inner-spin-button, .passcode-wrapper input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  .passcode-wrapper input:focus, .passcode-wrapper input.focus {
    border-color: #6379F4;
    outline: none;
    box-shadow: none;
  }
  .pad-8 {
  padding: 0 14em ;
}
.del-phone{
    display: flex;
    justify-content: space-between;
}
.del-phone > button {
    background: none;
    outline: none;
    border: none;
    color: #6379F4;
    font-weight: 600;
}
.del-phone > button:hover {
    background: none;
    outline: none;
    border: none;
    color: red;
    font-weight: 600;

}
.button-add {
    color: #3A3D42 !important;  
}
.button-add:hover{
    color: #6379F4 !important;
  
}